
* {
    box-sizing: border-box;
}


body {
    background-color: #040a09; /*  #2c4475 */
    padding: 0px;
    margin: 0px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 100vh;

}

main {
    background-color: #040a09;
    margin: auto;
    width: 70%;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    width: 100%;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
}
.navbar a:hover {
    color: #a855f7;
}
.navbar a:hover::after {
    background: #a855f7;
}

header {
    background-image: url(kepek/zeri2.png);
    background-size: cover;
    height: 400px;
    margin-bottom: 50px;
}


.nev {
    color:#a855f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}
.cim {
    color:#a855f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

article {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.elemek div {
    background-color: #12092b;
    border-radius: 10px;
    color: white;
    padding: 75px;
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeIn 0.8s ease-in-out forwards;
}

.elemek div:nth-child(1) {
    animation-delay: 0.3s;
}
.elemek div:nth-child(2) {
    animation-delay: 0.6s;
}
.elemek div:nth-child(3) {
    animation-delay: 0.9s;
}
.elemek div:nth-child(4) {
    animation-delay: 1.2s;
}
.elemek div:nth-child(5) {
    animation-delay: 1.5s;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    width: 100%;
    margin-top: 50px;
}
.footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
}
.footer a:hover {
    color: #a855f7;
}
.footer a:hover::after {
    background: #a855f7;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}