*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #040a09, #a855f7, #040a09,#a855f7);
    background-size: 150%, 150%;
    animation: color 12s ease-in-out infinite;
    padding:0px;
    margin:auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

main{
    margin-top: 15px;
    padding: 30px;
    background-color: #040a09;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #a855f7, 0 0 20px #040a09, 0 0 40px #a855f7;
    border-radius: 15px;
    width: 45%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    width: 100%;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
}
.navbar a:hover {
    color: #a855f7;
}
.navbar a:hover::after {
    background: #a855f7;
}

article{
    color: white;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

fieldset div {
    display: flex;
    justify-content: center;
    gap:10px;
}

legend{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 4px;
}

label{
    padding-left: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
}

footer a:hover {
    color: #a855f7;
}

footer a:hover::after {
    background: #a855f7;
}

@keyframes color{
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0 50%;
    }
}